.Container {
    padding: 8px 0 8px 0;
}

.Header {
    display: flex;
    gap: 8px;
    padding: 8px 0 8px 0;
}

.Grid {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}


.CellContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.Cell {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
    border: 1px lightgray solid !important;
    border-radius: 4px !important;
}

.Selected {
    background: #FFD205;
    border: none;
    width: 90% !important;
    height: 90% !important;
    border-radius: 4px !important;

}