.btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    width: fit-content;
    border-radius: 2rem;
    border: 1px lightgray solid;
}

.square {
    width: 2rem;
    height: 2rem;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clear {
    background: transparent !important;
    border: none !important;
}

.size-m {
    font-size: 1rem;
    line-height: 1rem;
}

.size-l {
    font-size: 1rem;
    line-height: 1.5rem;
}

.size-xl {
    font-size: 1rem;
    line-height: 2rem;
}
