.Container {
    margin: 8px auto 8px auto;
    padding: 14px 16px;
    border-radius: 4px;
    background: #FFFFFF;
    max-width: 540px;

    display: flex;
    flex-direction: column;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
}