.Container {
    margin: 8px auto 8px auto;
    padding: 14px 16px;
    border-radius: 4px;
    background: #FFFFFF;
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Content {
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
}

.SubmitButton {
    margin: 0 auto 0 auto;
}